/* Common Styles */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #f5f8ff;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.primary-color-1 {
  color: #000000;
}

.primary-color-2 {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 22px;
}

.secondary-color {
  color: rgba(233, 90, 8, 1);
}

/* Custom Styles */

/* Navbar section */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 120px;
}
.navbar-menu ul {
  display: flex;
  gap: 48px;
  position: relative;
}
.navbar-menu ul li {
  list-style: none;
}
.navbar-menu ul li a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
}
#menu-design-1 {
  font-weight: 700;
  color: #252432;
}
#menu-design-2 {
  color: #8987a1;
}
#menu-design-3 {
  color: #000000;
}
#menu-design-3 i {
  width: 22px;
}

/* Banner Section */

.banner {
  /* border: 2px solid brown; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 120px;
}
.banner .banner-content h1 {
  font-family: "Noto Serif", sans-serif;
  font-weight: 700;
  font-size: 65px;
}

/* Plant Section */

.plant {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  gap: 49px;
  margin-bottom: 210px;
}
.plant-content {
  text-align: center;
}
.plant-content h1 {
  font-family: "Noto Serif", sans-serif;
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 16px;
}
.plant-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 20px;
  justify-content: center;
}
.plant-card {
  width: 100%;
  text-align: center;
}
.plant-card img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 30px;
}
.plant-card-content {
  display: flex;
  flex-direction: column;
}
.plant-card-content h4,
h3 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 22px;
}
.plant-card-content h3 {
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 30px;
}
.plant-card-content button {
  background: rgb(233, 90, 8);
  color: white;
  padding: 20px 50px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

/* Plant lover section */
.plant-lover {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-bottom: 133px;
  /* border: 2px solid tomato; */
}

.plant-lover-content h2 {
  font-family: "Noto Serif", sans-serif;
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 20px;
}

.plant-lover-content ul li {
  list-style-position: outside;
  margin: 20px 20px;
}

/* Responsive Style */

/* Small Device */
@media screen and (max-width: 576px) {
  /* Nav Section */
  .navbar {
    margin: 67px 16px 28px;
  }
  #menu-design-1,
  #menu-design-2 {
    display: none;
  }
  .navbar img {
    max-width: 63px;
  }

  /* Banner Section */

  .banner {
    flex-direction: column-reverse;
    gap: 28px;
    text-align: left;
    margin-bottom: 64px;
  }
  .banner-content {
    display: flex;
    flex-direction: column;
    margin: auto 16px;
    gap: 13px;
  }
  .banner .banner-content h1 {
    font-size: 30px;
  }
  .banner .banner-content p {
    font-size: 16px;
  }

  /* Plant Section */

  .plant {
    flex-direction: column;
    margin-bottom: 41px;
  }
  .plant-cards-container {
    grid-template-columns: repeat(2, 1fr);
    margin: auto 15px;
  }
  .plant-content h1 {
    font-size: 24px;
  }
  .plant-content p {
    font-size: 14px;
  }
  .plant-card-content h4,
  h3 {
    font-size: 16px;
  }
  .plant-card-content h3 {
    margin-top: 10px;
  }
  .plant-card-content button {
    padding: 18px 30px;
    font-size: 14px;
  }
  .plant-cards-container {
    gap: 28px 20px;
  }

  /* Plant lover section */

  .plant-lover {
    flex-direction: column;
    margin: auto 18px;
    gap: 18px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .plant-lover img {
    width: 100%;
  }
  .plant-lover-content h2 {
    font-size: 24px;
  }
  .plant-lover-content ul li {
    font-size: 14px;
    margin: 10px 0 0 20px;
  }
}
